@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    background-color: #333356;
    color: white;
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1.3rem;
}

.cool-box-thing {
    background-color: #00000022;
    width: 100vw;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    
}

.cool-box-thing > * {
    margin: 0;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

a {
    color: #4eb5ff;
    text-decoration: none;
}
a:hover {
    color: #004bff;
    text-decoration: underline;
}
