@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
      background-color: #333356;
      color: white;
      font-family: "Rubik", sans-serif;
}
a:link, a:visited {
      color: #4eb5ff;
      text-decoration: underline;
}
a:hover, a:active {
      color: #004bff;
      text-decoration: underline;
}
